*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family:'fuente1';
    src: url('../fuente/lofifuente.ttf') format('truetype');
}
body{
    font-family: 'fuente1',sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.contenedor{
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.01fr 1fr 1fr 1fr 1fr 1fr 0.01fr;
    grid-template-areas: 
    "header_nav"
    "inicio"
    "lofigirl"
    "artistas"
    "historia"
    "lives"
    "footer";
}
.header1{
    grid-area: header_nav;
    background-color: #333;
}
.nav_bar{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.nav_lista ul{
    list-style: none;
    display: flex; 
    height: 100%;

}
.nav_lista ul li{
    height: 100%;
    display: flex; 
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.inicio{ 
    grid-area: inicio;
    background-image: url(../imagenes/lofiBack.JPG); 
    background-size: cover;
}
.inicio_contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.primerh1{ 
    margin-bottom: 40px;
    font-size: 14rem;
    text-align: center;
}
.primerp{
    font-size: 2.5rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sect1{
    grid-area: lofigirl;
    background-color:  #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}
.sect1_h2{
    margin-top: 30px;
    font-size: 10rem;
    text-align: center;
}
.sect1_ifr{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ifr_p{
    font-size: 1.8rem;
}
.lofichica img{
    height: 300px;
    padding-top: 15px;
}
.sect1_h3{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.sect2{
    grid-area: artistas;
    background-image: url(../imagenes/lofiback2.jpg);
    background-size: cover;
}
.sect2_text{
    margin-top: 30px;
    text-align: center;
}
.sect2_text h3{
    font-size: 4rem;
}
.sect2_text p{
    font-size: 3rem;
    margin: 30px 30px;
}
.sect2_art{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
}
.artfotos img{
    height: 450px;
}
.nombresart{
    font-size: 2.8rem;
    text-align: center;
}
.sect3{
    grid-area: historia;
    background-color:#333;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}
.sect3_text{
    margin-top: 40px;
}
.sect3_text h3{
    font-size: 5rem;
}
.sect3_text h4{
    font-size: 2.5rem;
    padding-bottom: 20px;
}
.sect3_text p{
    font-size: 2.3rem;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
}
.sect4{
    grid-area: lives;
    background-image: url(../imagenes/loficiudad.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sect4 h3{
    font-size: 10rem;
}
.foot1{
    grid-area: footer;
    background-color: rgb(49, 48, 49);
}
.footclass{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.footclass  img{
    height: 30px;
}
.footclass2{
    text-align: center;
}

.contenedor5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.01fr;
    grid-template-areas: 
    "header_nav1"
    "main"
    "footer";
}
.header5{
    grid-area: header_nav1;
    background-color: #333;
}
.main5{
    grid-area: main;
    background-image: url(../imagenes/lofiback3.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main5 h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 6rem;
}
.main5 p{
    
    text-align: center;
    font-size: 3rem;
}
.form_t{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form_t h2{
    font-size: 4rem;
    padding-bottom: 20px;
}
.form1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.formconf{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.formconf1{
    padding-top: 20px;
    font-size: 1.5rem;
}
.input{
    margin-top: 20px;
    width: 40px;
}
.foot5{
    grid-area: footer;
    background-color: #333;
}
.contenedor4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr  3fr 0.3fr;
    grid-template-areas: 
    "header_nav4"
    "live"
    "footer4";
}
.header4{
    grid-area: header_nav4;
    background-color: #333;
}
.main4{
    grid-area: live;
    background-image: url(../imagenes/playitaback.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.live_text h1{
    text-align: center;
    font-size: 6rem;
    padding-top: 40px;
    padding-bottom: 40px;
}
.live_text p{
    font-size: 3rem;
}
.livesifr{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}
.iframe4{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.foot4{
    grid-area: footer4;
    background-color: #333;
}
@media (max-width: 1413px) {
    .sect1_ifr{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  
        "lofigirl"
        "ifr"
        "ifr1";
    }
    .lofichica{
        grid-area: lofigirl;
        text-align: center;
    }
    .sect1_ifr1{
        grid-area: ifr;
        text-align: center;
    }
    .ifr_p{
        grid-area: ifr1;
        text-align: center;
    }
}
@media (max-width: 819px){
    .primerh1{
        font-size: 10rem;
    }
}
@media (max-width: 798px){
    .div2art3 img{
        height: 400px;
        width: 400px;
        text-align: center;
    }
}
@media (max-width: 588px){
    .primerh1{
        font-size: 6rem;
    }
}
@media (max-width: 588px){
    .primerh1{
        font-size: 6rem;
    }
}
@media (max-width: 1440px){
    .livesifr{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "lofigirll lofiboy" 
        "lofiradio chillhop"
    }
    .lofi_live{
        grid-area: lofigirll;
        text-align: center;
    }
    .lofiboy_live{
        grid-area: lofiboy;
        text-align: center;
    }
    .lofiradio{
        grid-area: lofiradio;
        text-align: center;
    }
    .chillhop{
        grid-area: chillhop;
        text-align: center;
    }
}
@media (max-width: 700px){
    .livesifr{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "lofigirll"
        "lofiboy" 
        "lofiradio" 
        "chillhop"
    }
    .lofi_live{
        grid-area: lofigirll;
        text-align: center;
    }
    .lofiboy_live{
        grid-area: lofiboy;
        text-align: center;
    }
    .lofiradio{
        grid-area: lofiradio;
        text-align: center;
    }
    .chillhop{
        grid-area: chillhop;
        text-align: center;
    }

}